.Lpage_container{
    >p{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    }
    >.button_container{
       
       display: flex;
       margin: 3em 40em 0 40em;
      
       
        >input{
            margin: 0.3em;
        }
    }
}